@model PersonnelMVCUI.Models.EntityFramework.Department
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="Message"></div>
@using (Ajax.BeginForm("Save", "Department", new AjaxOptions { HttpMethod="POST", UpdateTargetId="Message"}))
{
    @Html.AntiForgeryToken()
    <div class="form-group" style="margin-top:15px">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-success">Save</button>
}

@section scripts
    {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

